[submodule "My_G_Matrix"]
	path = My_G_Matrix
	url = https://github.com/machinelv/My_G_Matrix.git
[submodule "CUDA-GEMM-Optimization"]
    path = ./ref/CUDA-GEMM-Optimization
    url = https://github.com/leimao/CUDA-GEMM-Optimization.git
[submodule "How_to_optimize_in_GPU"]
    path = ref/How_to_optimize_in_GPU
    url =  https://github.com/Liu-xiandong/How_to_optimize_in_GPU.git
[submodule "ref/CUDA-GEMM-Optimization"]
	path = ref/CUDA-GEMM-Optimization
	url = https://github.com/leimao/CUDA-GEMM-Optimization.git
[submodule "ref/How_to_optimize_in_GPU"]
	path = ref/How_to_optimize_in_GPU
	url = https://github.com/Liu-xiandong/How_to_optimize_in_GPU.git
[submodule "ref/DeepGEMM"]
	path = ref/DeepGEMM
	url = https://github.com/deepseek-ai/DeepGEMM.git
